body{
  font-family: "PT Sans", Arial, sans-serif;
  background-color: white;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}
header{
  width: 100%;
  height: 100px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(24, 3, 8);
  color: white;
}
header nav ul{
  display: flex;
  list-style: none;
}
header nav a{
  text-decoration: none;
  margin-left: 1em;
  color: white;
}
header nav a:hover{
  box-shadow: 0 0 20px rgba(186, 69, 104, 4.5);
}
main{
  width: 100%;
  background-image: url(images/10705190.jpg);  /*image taken from https://wallpaper.dog/large/10705190.jpg */
}
.main-container{
  margin: 20px;
  width: 800px;
  max-width: 800px;
  border-radius: 9px;
  background-color: rgb(188, 129, 148);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px rgba(186, 69, 104, 1.5); /* Outer glow */
  padding: 20px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.task-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.task-container input{
  border-radius: 5px;
  display: flex;
  width: 110%;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
}
#addTaskbtn{
  width: 200px;
  background-color: rgba(186, 69, 104);
  color: white;
}
#addTaskbtn:hover{
  background-color: rgba(186, 69, 104);
  box-shadow: 0 0 20px rgb(24, 3, 8);
}

.search{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search input{
  border-radius: 5px;
  border-color: black;
  display: flex;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
}
#searchBar{
  width:500px;
}
#searchTaskbtn{
  width: 200px;
  background-color: rgba(186, 69, 104);
  color: white;    
}
#searchTaskbtn:hover{
  background-color: rgba(186, 69, 104);
  box-shadow: 0 0 20px rgb(24, 3, 8);
}
footer{
  background-color: rgb(123, 44, 78);
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  color: white;
}
footer nav ul{
  display: flex;
  margin-left: -40px;
  list-style: none;
}
footer nav a{
  text-decoration: none;
  margin-left: 1em;
  color: white;
}
footer h3{
  padding: 20px;
}
/* .search-field{
  background-color: rgb(190, 154, 166);
  padding: 50px;
} */
.taskItem{
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(188, 129, 148);;
  width: 500px;
}
.taskItem:nth-child(even) {
    background-color: rgb(190, 154, 166);

}
.taskDetails{
  display: inline-block;
  font-weight: 600;
}
.editTask{
  background-color: rgba(186, 69, 104);
  color: white;
  border-color: rgba(186, 69, 104);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.editTask:hover{
  background-color: white;
  color: black;
}
.deleteTask:hover{
  background-color: rgba(186, 69, 104);
  color: white;
}
.taskHead{
  color: rgb(24, 3, 8);

}
button{
  width: 80px;
  padding: 5px;
}
